<header>
  <section class="section__header">

    <div class="row">
      <div class="col col-12 col-lg-2" style="text-align: center">
        <h1><a href="index.html">dicol</a></h1>
      </div>
      <div class="col col-12 col-lg-10">
        <nav class="d-md-none d-lg-block">
          <ul>
            <li>
              <a class="active" href="about.html">About</a>
            </li>
            <li>
              <a href="how-it-works.html">how it works</a>
            </li>
            <li>
              <a href="testimonial.html">Testimonial</a>
            </li>
            <li>
              <a href="download.html">Download</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </section>
</header>
