<section class="section__htw">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-lg-6">
        <h1>afdsf</h1>
      </div>
      <div class="col col-12 col-lg-6">
        <div class="row">
          <div class="col-4">fdsafd</div>
          <div class="col-4">fdsafd</div>
          <div class="col-4">fdsafd</div>
          <div class="col-4">fdsafd</div>
          <div class="col-4">fdsafd</div>
          <div class="col-4">fdsafd</div>
        </div>
      </div>
    </div>
  </div>
</section>
