/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.heading1 {
  font-family: 'KotexVM-Bold';
  color: $text-color;

  span {
    font-family: 'KotexVM-Light';
    font-size: .7em;
    padding-left: .2em;
    color: $brand-color;
  }
}

.heading2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.8rem;
}

.heading3 {
  font-size: 1.2rem;
}
