.section__network {
  .network__content {
    padding-bottom: 1.2rem;
  }
  margin-bottom: 2rem;
  .network__desc {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8rem;
    padding-bottom: 1.6rem;
  }
  .buttons {
    .button {
      width: 100%;
    }
  }
}
