// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

$b-fonts: 'Montserrat', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

.button {
  font-family: $b-fonts;
  color: $white-color;
  background-color: $blue-color;
  text-transform: uppercase;
  text-decoration: none !important;

  font-size: .7rem;
  padding: .7rem 1.75rem;

  @media (min-width: 800px) {
    font-size: .8rem;
    padding: 1rem 2rem;
  }

  font-weight: bold;
  cursor: pointer;
  display: inline-block;

  &.has-arrow {
    &:after {
      content: '→';
      padding-left: .8rem;
    }
  }

  &.full {
    display: block;
  }

  &.round {
    border-radius: 1.75rem;
  }

  &:hover {

  }

  &.outline {
    background-color: transparent !important;
    border: .1rem solid $mid-gray-color;
  }

  &__primary {
    color: $white-color;
    background-color: $blue-color;

    &:hover {
      color: $blue-color;
    }

    &.round {
      border-color: $blue-color;
    }

    &.outline {
      color: $blue-color;
    }
  }
}
