<section class="section__header">
    <div class="container">
        <h1 class="heading1">Components</h1>
        <div>
            <div class="card">
                <a class="button">Default</a>
                <a class="button button__primary full">Primary</a>
                <a class="button button__primary round">Primary</a>
                <a class="button button__primary">Primary</a>
                <a class="button button__secondary">Secondary</a>
            </div>
        </div>

    </div>
</section>
