<section class="section__components">
  <div class="container">

    <h3>Content</h3>
    <div class="card">
      <div>
        <h1 class="heading1">
          <span>Discover</span><br>
          local people <br>
          <span>&</span> conversations
        </h1>
        <h2 class="heading2">
          <span>Find your</span><br>
          people
        </h2>
        <div class="summary">
          Recognize and reward members by the content of their character.
        </div>
        <h2 class="heading2">
          <span>Join</span> local<br>
          conversations
        </h2>
        <div class="summary">
          By global and local friends and
          great numbers of trending conversations.
        </div>
        <h2 class="heading2">
          <span>Discover who</span><br>
          <span>& what in your</span><br>
          area
        </h2>
        <div class="summary">
          Build better communities with local conversations.
        </div>
        <h2 class="heading2">
          <span>Send & receive</span><br>
          money <span>instantly</span>
        </h2>
        <div class="summary">
          Recognize and reward members for the service they provide to others in the community.
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="about-page">
      <div class="row">
        <div class="col col-lg-3">
          <div class="slider-nav">
            <div>
              People
            </div>
            <div>
              Conversation
            </div>
            <div>
              Map
            </div>
            <div>
              Wallet
            </div>
          </div>
          <div class="d-none slider-dots">
            <div>
              *
            </div>
            <div>
              *
            </div>
            <div>
              *
            </div>
            <div>
              *
            </div>
          </div>
        </div>
        <div class="col col-lg-9">
          <div class="slider-for">
            <div>
              <div class="row">
                <div class="tab_content col-lg-6">
                  <h2 class="heading2">
                    <span>Find your</span><br>
                    people
                  </h2>
                  <div class="summary">
                    Recognize and reward members by the content of their character.
                  </div>
                </div>
                <div class="tab_image col-lg-6">
                  <img style="max-width: 90%" src="./assets/images/about/item1.svg">
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="tab_content col-lg-6">
                  <h2 class="heading2">
                    <span>Join</span> local<br>
                    conversations
                  </h2>
                  <div class="summary">
                    By global and local friends and
                    great numbers of trending conversations.
                  </div>
                </div>
                <div class="tab_image col-lg-6">
                  <img style="max-width: 90%" src="./assets/images/about/item2.svg">
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="tab_content col-lg-6">
                  <h2 class="heading2">
                    <span>Discover who</span><br>
                    <span>& what in your</span><br>
                    area
                  </h2>
                  <div class="summary">
                    Build better communities with local conversations.
                  </div>
                </div>
                <div class="tab_image col-lg-6">
                  <img style="max-width: 90%" src="./assets/images/about/item3.svg">
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="tab_content col-lg-6">
                  <h2 class="heading2">
                    <span>Send & receive</span><br>
                    money <span>instantly</span>
                  </h2>
                  <div class="summary">
                    Recognize and reward members for the service they provide to others in the community.
                  </div>
                </div>
                <div class="tab_image col-lg-6">
                  <img style="max-width: 90%" src="./assets/images/about/item4.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div>
    <div class="card">
      <div class="screen-preview">
        <div class="home-slider">
          <div>
            <img src="./assets/images/home/item1.png"/>
          </div>
          <div>
            <img src="./assets/images/home/item2.png"/>
          </div>
        </div>
      </div>
    </div>

    <h3>Buttons</h3>
    <div>
      <div class="card">
        <a class="button">Default</a>
        <a class="button button__primary full">Primary</a>
        <a class="button button__primary round has-arrow outline">Discover more</a>
        <a class="button button__primary">Primary</a>
        <a class="button button__secondary">Secondary</a>
      </div>
    </div>


  </div>
</section>
