<section class="section__hero_banner">
    <div class="container">
        <div>
            <img src=""/>
            <div class="hero_banner__sub_title">Welcome to Vellex</div>
            <div class="hero_banner__title">Safety. Consistency. Reliability and Accuracy
                We watch over your freight.
            </div>
            <div>
                <a class="button button__primary">Contact Vellex</a>
                <a class="button button__orange">Request a quote now</a>
            </div>
        </div>
    </div>
</section>
