.section__hero_banner {
  .hero_banner__sub_title {
    font-size: 1rem;
    font-family: 'Open Sans';
  }

  .hero_banner__title {
    font-size: 1.8rem;
    font-family: 'SemiBold', 'Open Sans';
  }
}
