<section class="section__hero_banner">
  <div class="slides">
    <div class="slide" style="background-image: url(./assets/images/sections/hero_banner/item1.jpg)">
    </div>
  </div>
  <div class="container">
    <div>
      <div class="hero_banner__sub_title">Welcome to Vellex</div>
      <div class="hero_banner__title">Safety. Consistency. Reliability and Accuracy
        We watch over your freight.
      </div>

      <div class="buttons">
        <a class="button button__primary">Contact Vellex</a>
        <a class="button button__orange">Request a quote now</a>
      </div>

      <div class="item-list">
        <div class="item item__primary">
          <div class="item__icon">
            <img src="./assets/images/icons/icon--support.svg"/>
          </div>
          <div class="item__label">
            <div class="text text__bold">Remote Support</div>
            <div class="text">
              <a href="#">Get support now</a>
            </div>
          </div>
        </div>
        <div class="item item__primary">
          <div class="item__icon">
            <img src="./assets/images/icons/icon--pin.svg"/>
          </div>
          <div class="item__label">
            <div class="text text__bold">Track & Trace</div>
            <div class="text">
              <a href="#">Track now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
