<section class="section__contact">
    <div class="container">
        <div class="contact__body">
            <div class="card card__primary">
                <div class="card__title">
                    Contact Us
                </div>
                <div class="item-list">
                    <div class="item">
                        <div class="item__icon">
                            <img src="./assets/images/icons/icon--call.svg">
                        </div>
                        <div class="item__label">
                            <div class="text text__bold">1300 Vellex</div>
                            <div class="text">info@example.com</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__icon">
                            <img src="./assets/images/icons/icon--home.svg">
                        </div>
                        <div class="item__label">
                            <div class="text text__bold">Vellex Office</div>
                            <div class="text">41 Frank St, Wetherill Park 2164</div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <a class="button button__orange">
                        Contact now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
